@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-mesh {
    background-image: url('./assets/mesh-gradient1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

